@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

.top {
  width: 100%;
  height: 20%;
  background-color: bisque;
  display: flex;
}
.a {
  width: 20%;
  height: auto;
  background-color: white;
  text-align: center;
  padding-left: 40px;
}

.b {
  width: 60%;
  height: auto;
  background-color: white;
  text-align: center;
}

.c {
  width: 20%;
  height: auto;
  background-color: white;
  text-align: center;
  padding-right: 40px;
}

.nav table {
  width: 100%;
  height: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
}



.news2 {
  width: 35%;
  /* padding-right: 5%; */
  height: auto;
  background-color: #fff;
}
.newsnews2 {
  width: 20%;
  padding-left: 5%;
  height: auto;
  background-color: #fff;
}

.news2 > fieldset {
  border-color: black;
  border-width: 6px;
}
.news2 > fieldset > legend {
  background-color: black;
  text-decoration: underline;
  color: #ffffff;
  border-radius: 40%;
}
.class1 {
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
  background-color: #fff;
}



.footer {
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
}

.foot-er {
  width: 20%;
  padding-left: 30px;
  padding-top: 10px;
}

.foot-er h1 {
  color: #fff;
  text-decoration: underline;
}

.foot-er table {
  color: #fff;
}

.foot2 {
  width: 20%;
  padding-left: 20px;
  padding-top: 90px;
}

.foot2 table {
  color: #fff;
}

.foot2 h1 {
  color: #fff;
  text-decoration: underline;
}

.foot3 {
  width: 20%;
  padding-left: 0%;
  padding-top: 10px;
}

.foot3 table {
  color: #fff;
}

.foot3 h1 {
  color: #fff;
}

.foot4 {
  width: 20%;
  padding-left: 0%;
  padding-top: 10px;
}

.foot4 h1 {
  color: #fff;
}

.foot4 table {
  color: #fff;
}

. {
  align-items: center;
  color: #fff;
  padding-top: 28%;
  padding-bottom: 0%;
  padding-right: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  /* font-family: 'Grape Nuts', cursive; */
}
